#about{
    background-color: var(--LIGHT-COLOR);
    padding: 20px 0 100px 0;
}

.about_wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
}
.about_container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about_container .intro{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--LIGHT-COLOR);
    padding: 50px 0;
}

.about_container .intro>h1{
    font-family: var(--DISPLAY-FONT);
    color: var(--DARK-COLOR);
}
.about_container .intro>h1:first-child{
    font-size: 3rem;
    margin-bottom: 1rem;
}

.about_container .intro>h1:last-child{
    font-family: var(--TEXT-FONT);
    font-size: 1.2rem;
    width: 87%;
    /* font-weight: lighter; */
}

.techstack{
    margin-top: 2px;
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
}

.techstack>div{
    width: max(350px, 30%);
    
    display: flex;
    flex-direction: column;
    align-items: center;

    border: 2px solid var(--DARK-COLOR);
    border-radius: 20px;
}

.techstack figure{
    width: 30%;
}
.techstack figure img{
    width: 100%;
}

.techstack>div>h1{
    font-family: var(--DISPLAY-FONT);
    font-size: 1.5rem;
    color: black;
}

.techstack>div>h2{
    font-family: var(--TEXT-FONT);
    text-align: center;
    font-size: 1.1rem;
    color: var(--DARK-COLOR);
    min-height: 150px;
    width: 90%;
}

.techstack>div>h3{
    color: black;
    font-family: var(--TEXT-FONT);
    width: 100%;
    text-align: center;
}

.techstack .skills_container{
    margin-top: 10px;
    width: 100%;
    display: flex;
    gap: .5rem;
    justify-content: center;
    flex-wrap: wrap;
}
.techstack .skills_container .skill_icon{
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.techstack .skills_container img{
    width: 70%;
    aspect-ratio: 1/1;
}
.techstack .skills_container p{
    text-align: center;
    font-family: var(--SECONDARY-FONT);
    font-weight: bold;
    width: 100%;
    /* overflow-wrap: break-word; */
}